{% extends "joins/base.html" %}
{% load staticfiles %}

{% block styles %}

<style>
		
		body {
			
			background: url("{% static 'img/war.jpg' %}");
			-webkit-background-size:cover;
			-moz-background-size:cover;
			-o-background-size:cover;
			background-size:cover;
		}
</style>

{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style='background-color:white;' id="jumbo">
	      <div class="container" >
	      		<div class='row'>
	      			<div class='col-md-5' style=' padding-left:-550px; text-align:center; margin-right:80px;  color:black;'>
					        <h1 class="display-3 " >Hello, Recruit</h1>
					        <h3 class="">Welcome to the Site! Be sure to sign up with a referral code if you were referred by a friend. They gain special bonuses for each recruitment</h3>
					        <p><a id='btn-learn-more' class="btn  btn-lg btn-block " href='#signup' style='font-size:30px;color:black; background-color: #ff9900;'href="#signup" role="button">Learn more &raquo;</a></p>
			        </div>
			        <div class='col-md-5' style='margin-left:80px;'>					        
					        	<img  src="{% static 'img/stats.png' %}" class='img-responsive' id='stats'/>					        
			        </div>
	      	</div>
	      </div>
    </div>
<div class="container" style='text-align: center; margin-bottom:233px; margin-top:120px;' id="signup">
    
		<h1 class="font-effect-3d armyText"style='color: #black !important; margin-left:230px; ' > Hello, Welcome Home</h1>


		<div class='col-md-5 col-md-offset-5' >
		<!--  Action is the destination for the information. By default it sends it to the current page
		Method is GET by default and asks a site for information. POST sends the forms information
		to the action='location' in this case to itself to fill out the form that the view created and will
		do something with the data-->
				<form class='form-horizontal'method='POST' action='' style='color:black;'>{% csrf_token %} 
					<div class='form-group form-group-lg'>
					<!-- Below is the Bootstrap way of making a form -->
							{% if form.email.errors %}
								{% for err in form.email.errors %}	
									<div class='alert ' style="color:black; margin-right:100px; margin-bottom:-10px;" role=alert><h4>{{ err }}</h4></div>
									{% endfor %}		
									{% endif %}		
								
										<div class="input-group">
												<input class='form-control' type='email' name='email' placeholder="Your Email......."/>
													<span class='input-group-btn'>
														<input type='submit' value='Sign-in/up' class='btn btn-lg ' style='background-color: #ff9900;'   />
													</span>
										</div>
					</div>
				</form><i class ='fa  fa-crosshairs fa-5x' style='color:darkgreen; margin-left:668px; '></i>
		</div>
</div>

<div class="row menuRow" style="margin-top: 80px; border-bottom: 1px solid #DDD">
		<div class='col-md-12'>				
				<div class=' col-md-3' style='  margin-left:150px;margin-right:-100px;'>
						<i class='fa  fa-bar-chart fa-3x' style="color:darkorange;"></i>
						<h2>Feature</h2>
						<p class="lead" >Some Feature text goes here</p>						
				</div>
				<div class=' col-md-3' style='margin-right:-100px;'>
						<i class='fa  fa-bar-chart fa-3x' style="color:darkorange;"></i>
						<h2>Feature</h2>
						<p class="lead">Some Feature text goes here</p>						
				</div>
				<div class=' col-md-3' style='margin-right:-100px;'>
						<i class='fa  fa-bar-chart fa-3x' style="color:darkorange;"></i>
						<h2>Feature</h2>
						<p class="lead">Some Feature text goes here</p>						
				</div>
				<div class=' col-md-3'>
						<i class='fa  fa-bar-chart fa-3x' style="color:darkorange;"></i>
						<h2>Feature</h2>
						<p class="lead" >Some Feature text goes here</p>						
				</div>
		</div>
</div>

<div class="row menuRow" style="margin-bottom: -80px;">
		<div class='col-md-12'>
		
		<div class=' col-md-3' style='  margin-left:150px;margin-right:-100px;'>
						<i class='fa  fa-bar-chart fa-3x' style="color:darkorange;"></i>
						<h2>Feature</h2>
						<p class="lead" >Some Feature text goes here</p>						
				</div>
				<div class=' col-md-3' style='margin-right:-100px;'>
						<i class='fa  fa-bar-chart fa-3x' style="color:darkorange;"></i>
						<h2>Feature</h2>
						<p class="lead">Some Feature text goes here</p>						
				</div>
				<div class=' col-md-3' style='margin-right:-100px;'>
						<i class='fa  fa-bar-chart fa-3x' style="color:darkorange;"></i>
						<h2>Feature</h2>
						<p class="lead">Some Feature text goes here</p>						
				</div>
				<div class=' col-md-3'>
						<i class='fa  fa-bar-chart fa-3x' style="color:darkorange;"></i>
						<h2>Feature</h2>
						<p class="lead" >Some Feature text goes here</p>	
						<br>
				</div>

		</div>
</div>

{% endblock %}